.form{
       
    display: flex;
    flex-direction: column;    
    margin-top: 50px;
    

}

label{
    font-size: 22px;
}
.btnLogout{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #b6b5bc;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px; 
    width: 120px;
    border-color: transparent; 
    align-self: center;
    margin-bottom: 20px;
    margin-right: 100px;

}
.inputF{
    display: flex;
    flex-direction: column;
    gap:2px;
} 
input{
    height:30px;
    border-radius: 5px;
    border-color: transparent;
    ;
}
.containerF{
    height:400px;
    width:250px;
    background-color: rgb(129, 129, 169);
    display: flex;
    flex-direction: column;
    gap:15px;
    padding:10px;
    border-radius: 15px;   
    box-shadow: 2px 2px 2px 2px rgb(103, 114, 123); 
}
.addC{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #32226b;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px; 
    width: 120px;
    border-color: transparent; 
    align-self: center;
}
.addC .btnLogout:hover{
    color: #8986b4;
    background-color: #32226b;
}
